/*it works to move left and right but not up and down 
it also works when relative*/
p {
   font-family: "PT Sans",Comic Sans MS, fantasy;
}

h1 {
  font-family: "PT Sans",Comic Sans MS, fantasy;
 font-size: 40px;
 text-align: center;
 margin-left: 10px;
 margin-right: 10px;
 margin-bottom: 10px;
} 

h2 {
   font-family: "PT Sans",Comic Sans MS, fantasy;
 /* margin-left: 3%;*/
}

h3 {
  font-family: "PT Sans",Comic Sans MS, fantasy;
}

.btn btn-primary {
  width: 100px;
  height: 100px;
  background: gray;
  transition: width 2s;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  margin-top:10px;
  list-style-type: none;
  font-size:30;
  width:70%;
  border:solid;
  border-width:4px;
  border-color:black; 
  border-radius:10px;
  margin-bottom:20px;
  padding:10px;
  margin-left:auto;
  margin-right:auto;
}

li2 {
  margin-top:10px;
  list-style-type: none;
  font-size:30;
  width:70%;
  margin-bottom:20px;
  padding:10px;
  margin-left:auto;
  margin-right:auto;
}

#lister {
  list-style-type: none;
  left:5%;
  font-size:30;  
  position:relative;
  width:80%;
  top:50px;
  padding:20px;
}

#future{
  margin: 10px;
  width:100%;

}

.future {
  border:10px solid gray;
  width:100%;
}

#exp{
  font-size:60px;
  position:static;
  text-align: center;
}

#exexp {
  left:150px;
  font-size:20;
  position:relative;
}

#homebtn {
  position: sticky;
  display: inline-block;
  left:0px;
  top:0px;
  background-color: gray;
  color: gray;
  padding: 5px;
  cursor:pointer;
  border:none;
}

.nav {
  margin-bottom:50px;
  background-color: gray;
  text-decoration: none;
}

/* Style the links inside the navigation bar */
.nav a {
  text-decoration: none;
  color: black;
  font-weight: bold,
}

/* Change the color of links on hover */
/* Add a color to the active/current link */

#hphead{
  position:relative;
  text-align:left;
  right:10%;
}

#hpb1{
  margin: 50px;
  width:60%;
}

.form{
  height:600px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:auto;
}

.embed{
  width:100%;
  height:100%;
  margin-left:auto;
  margin-right:auto;
}

.heading {
  margin-left:50px; 
  margin-right:50px;
  margin-top:50px;
  text-align:left;
  position:relative;
}

#heading {
  margin-top:50px;
  text-align:left;
  position:relative;
}

.hpb2 {
  display: flex;
  justify-content: center;
  align-items: left;
  padding:auto;
}

details {
  margin-left: 1%;
  margin-bottom: 0.5%;
}

body {
  overflow-x: hidden;

  background-image:url("background.jpg")
  /*background-color: #005ba8;*/
  color: black;
}

#exp {
  padding-top: 5px;
}

.info, .abt, .src, .news {
  transition: transform 600ms ease;
}

.info:hover {
  transform: scale(1.05);
}

details > summary {
  cursor: pointer;
  border: none;
}

.abt:hover, .src:hover, .news:hover {
  transform:scale(1.01);
}

table, th, td {
  border: 2px solid black;
}

table {
  border-collapse: collapse;
}

#comnic {
  font-family: Comic Sans MS, fantasy;
}

#middle {
  height:20px;
  position: sticky;
  left:0%;
  top:0%;
  background-color: gray;
  color: black;
  padding: 30px;
  font-size: 16px;
  z-index:0;
  border:none;
}

#right {
  position: sticky;  
  background-color: gray;
  color: black;
  border:none;
}

#faq {
  left:-100px;
  text-align:left;
  align-items:left;
  position:relative;
  /*deprecated*/
}

.faq {
  
  text-align:left;
  align-items:left;
  position:relative;
  width:90%;
  top:10%
}

.news{
  left:0%;
  top:10%
  text-align:left;
  align-items:left;
  position:relative;
  width:80%;
}

#newsh{
 position:relative;
 left:3%;
 z-index:100000000;
 font-family: "PT Sans",Comic Sans MS, fantasy;
 font-size: 90px;
 text-align: left;
 margin-left: 10px;
 margin-right: 10px;
 margin-bottom: 10px;
}

#heading2 {
  top-margin-50px;
  top:15%;
  text-align:left;
  position:relative;
  left:5%;
}