p{
   font-family: Comic Sans MS, fantasy;
   
}
h1{
  font-family: Comic Sans MS, fantasy;
 font-size: 40px;
 text-align: center;
 margin-left: 10px;
 margin-right: 10px;
 margin-bottom: 10px;

} 
h2{
   font-family: Comic Sans MS, fantasy;
  margin-left: 3%;

}
h3{
  font-family: Comic Sans MS, fantasy;

}

.btn btn-primary {
  width: 100px;
  height: 100px;
  background: red;
  transition: width 2s;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li{
  margin-top:10px;
  list-style-type: none;
  font-size:30;
  width:70%;
  border:solid;
  border-width:4px;
  border-color:#f8f8ff; 
  border-radius:10px;
  margin-bottom:20px;
  padding:10px;
  margin-left:auto;
  margin-right:auto;
}

li2{
  margin-top:10px;
  list-style-type: none;
  font-size:30;
  width:70%;
  margin-bottom:20px;
  padding:10px;
  margin-left:auto;
  margin-right:auto;
}
#lister{
  list-style-type: none;
  left:5%;
  font-size:30;  
  position:relative;
  width:80%;
  top:50px;
  padding:20px;
}
#future{
  margin: 10px;
  width:100%;

}
.future {
  border:10px solid red;
  width:100%;
}
#exp{
  font-size:60px;
  position:static;
  text-align: center;
}
#exexp{
  left:150px;
  font-size:20;
  position:relative;
}
#homebtn{
  position: relative;
  display: inline-block;
  left:0%;
  top:0%;
  background-color: #EE3124;
  color: white;
  padding: 5px;
  font-size: 16px;
  cursor:pointer;
  border:none;
  
}

#hphead{
  position:relative;
  
}

#hpb1{
  margin: 50px;
  width:60%;
}

.form{
  height:600px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:auto;
}

.embed{
  width:100%;
  height:100%;
  margin-left:auto;
  margin-right:auto;
}

.heading {
  margin-top:50px;
  text-align:center;
}

#heading {
  margin-top:50px;
  text-align:center;
}
.hpb2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding:auto;
}

details {
  margin-left: 1%;
  margin-bottom: 0.5%;
}

body{
  background-color: #000128;
  color: white;
}

#exp {
  padding-top: 5px;
}

.info, .abt {
  transition: transform 600ms ease;
}

.info:hover {
  transform: scale(1.05);
}

details > summary {
  cursor: pointer;
  border: none;
}

.abt:hover {
  transform:scale(1.1);
}
#bug{
  position:fixed;
  height:100%;
  width:100%;
  //this was not made by sam ummer
  //this was made by sam ummer
}